.Room .container{
  margin-top: 150px;
  text-align: center;
}

.Room p{
  font-size: 63px;
  text-align: center;
}

.Room .form-control {
  display: inline-block;
}

@media (max-width: 648px) {
  .Room .form-control {
    width: 300px;
  }
  .Room button {
    margin-top: 5px;
    width: 300px;
  }
}

@media (min-width: 648px) {
  .Room .form-control {
    width: 450px;
  }
  .Room button {
    width: 150px;
    margin-left: 5px;
  }
}

.Room .ChannelList {
  margin-top: 20px;
}

.Room .ChannelList .btn {
  margin: 5px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 14px;
}