<!DOCTYPE html>
<html>
<head>
  <title>Funishment</title>
  <link rel="stylesheet" href='../static/css/bootstrap.min.css'>
  <link rel="stylesheet" href='../static/css/index.css'>
</head>

<body>

  <div id="reactEntry"></div> 
  <!-- Include the PubNub Library -->

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.3.3.js"></script>
<!-- Attach React components -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='../static/js/bootstrap.min.js'></script>  
<script type="text/javascript" src='../static/index.js'></script>
</body>
</html>